.banner {
	background-image : linear-gradient(0deg, #324972 0%, rgb(0,0,0,0) 80%), url(https://upload.wikimedia.org/wikipedia/commons/thumb/9/94/Starry_Night_Over_the_Rhone.jpg/1200px-Starry_Night_Over_the_Rhone.jpg);
	color : white; 
	padding : 150px;
	padding-bottom: 200px;
	margin-bottom: 50px;
	background-position: center;
	background-size: cover;
}
