.card{
	padding : 20px;
	border-radius: 15px;
	display: flex;
	align-items : center;
	justify-content: space-around;
	background-color : #BCD2E8;
	flex-grow: 1;
	margin : 5px;
	flex-basis: 100px;
}

.card img{
	width : 100px;
	border-radius : 10%;
}

.cards{
	display : flex;
	flex-wrap : wrap;
	flex-grow : 1;
	margin-bottom: 150px;
}

.card a{
	color : #77223E;
	font-weight: bold;
	font-size: 20px;
	margin : 5px;
}

.card a:hover{
	color : #FFD1DC
}